@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffbeb;
  --foreground: #fffbeb;
}
[data-theme='dark'] {
  --background: #1e293b;
  --foreground: #fffbeb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
